<div class="flex w-full justify-center items-center h-full">
    <mat-card appearance="outlined" class="!w-6/12">
       <form class="flex flex-col gap-4">
        <h1>Login</h1>
        <mat-form-field class="w-full">
            <mat-label>Email</mat-label>
            <input matInput type="text" name="email" [(ngModel)]="email">
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" [(ngModel)]="password">
        </mat-form-field>
        <button mat-raised-button color="primary" class="w-full" (click)="login()">Login</button>
       </form>
       
      </mat-card>
</div>
